[Unit]
Description=byodns
After=network.target
ConditionPathExists=/home/pi/go/bin

[Service]
WorkingDirectory=/home/pi/Documents/progs/byodns
User=root
Group=root
ExecStart=/home/pi/go/bin/byodns
StartLimitIntervalSec=10
StartLimitBurst=5
Restart=always
Type=simple
LimitNOFILE=1024

[Install]
WantedBy=multi-user.target
